<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ERP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <nav>
        <a href="/">Início</a>
        <a href="/clients">Clientes</a>
        <a href="/products">Produtos</a>
        <a href="/sales">Vendas</a>
        <a href="/stock">Estoque</a>
        <a href="/finance">Financeiro</a>
        <a href="/support">Suporte</a>
        <a href="/employees">Funcionários</a>
    </nav>

    <hr>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>