{% extends "base.html" %}

{% block title %}
{{ 'Editar Cliente' if client else 'Novo Cliente' }}
{% endblock %}

{% block content %}
<h2>{{ 'Editar Cliente' if client else 'Novo Cliente' }}</h2>

<form method="POST" class="form">
    <label>Nome</label>
    <input name="name" placeholder="nome" value="{{ client.name if client else '' }}" required>

    <label>CPF</label>
    <input name="cpf" placeholder="cpf" value="{{ client.cpf if client else '' }}" required>

    <label>Telefone</label>
    <input name="phone" placeholder="telefone" value="{{ client.phone if client else '' }}">

    <label>Email</label>
    <input name="email" placeholder="email" value="{{ client.email if client else '' }}" required>

    <label>Endereço</label>
    <input name="address" placeholder="endereço" value="{{ client.address if client else '' }}">

    <label>Cidade</label>
    <input name="city" placeholder="cidade" value="{{ client.city if client else '' }}">

    <label>UF</label>
    <input name="state" placeholder="estado" value="{{ client.state if client else '' }}">

    <label>CEP</label>
    <input name="cep" placeholder="cep" value="{{ client.cep if client else '' }}">

    <div class="form-actions">
        <button class="btn" type="submit">Salvar</button>
        <a class="btn btn-secondary" href="/clients">Cancelar</a>
    </div>
</form>

{% endblock %}
