{% extends "base.html" %}

{% block content %}
<h2>Novo Cliente</h2>

<form method="POST">
    <input name="name" placeholder="nome">
    <br><br>
    <input name="cpf" placeholder="cpf">
    <br><br>
    <input name="phone" placeholder="telefone">
    <br><br>
    <input name="email" placeholder="email">
    <br><br>
    <input name="address" placeholder="endereço">
    <br><br>
    <input name="city" placeholder="cidade">
    <br><br>
    <input name="state" placeholder="estado">
    <br><br>
    <input name="cep" placeholder="cep">
    <br><br>

    <button class="btn" type="submit">Salvar</button>

</form>

{% endblock %}